
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Environments
.env
.env.*

# PIP files
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# build
build/
dist/
*.egg-info/
